<div class="three_col_sec">
   <div class="page-width">
     <h2 class="heading">{{ section.settings.heading }}</h2>
      <div class="three_col_inner">
        {% for block in section.blocks %}
         <div class="three_cols">
            <div class="three_col_content">
               <div class="col_content">
                  {{ block.settings.content }}
               </div>
               <div class="col_title">
                  {{ block.settings.title }}
               </div>
            </div>
         </div>
        {% endfor %}
      </div>
   </div>
</div>
<style>
  .three_col_sec {
     background-image: url({% if section.settings.background_img != blank %}{{ section.settings.background_img | img_url: 'master' }}{% endif %}) !important;
  }
       
  @media only screen and (max-width: 767px) {
    .three_col_sec {
       background-image: url({% if section.settings.mobbackground_img != blank %}{{ section.settings.mobbackground_img | img_url: 'master' }}{% endif %}) !important;
    }
  }
  
</style>

{% schema %}
  {
    "name": "Three Column Section",
    "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "heading"
        },
        {
           "type": "image_picker",
           "id": "background_img",
           "label": "Background Image"
        },
        {
           "type": "image_picker",
           "id": "mobbackground_img",
           "label": "Mobile BG Image"
        }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "Column",
        "settings": [
            {
               "type": "textarea",
               "id": "content",
               "label": "Content"
            },
            {
               "type": "text",
               "id": "title",
               "label": "Title"
            }
        ]
      }
    ],
    "presets": [
       {
          "name": "Three Column Section"
       }
    ]
  }
{% endschema %}